html {
  box-sizing: border-box;
  background: #eee;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  font-family: 'Lora', serif;
  color: #000;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $main-color;
  &:hover {
    color: darken($main-color, 20%);
  }
}
