// Grid

// Extra small (... - 599px)
// Use the modifier "-xs" when defining classes.
$break-xs: 420px;
// Small (600px - 1023px)
// Use the modifier "-sm" when defining classes.
$break-sm: 1024px;
// Medium (1024px - 1199px)
// Use the modifier "-md" when defining classes.
$break-md: 1224px;
// Large (1200px - ...)
// Use the modifier "-lg" when defining classes.
$break-lg: 1400px;
// Grid
$grid-columns: 12;
$grid-gutter: 25px;


$main-color: #993d93;
